
input {
  width:70px;
}
.float{
  float: left;
  /* border: 4px solid green; */
}
table,th{
  border-collapse: collapse;
  border:1px solid #333;
  background-color: lightblue;
  }
  table{
    margin-left:3px;
    margin-right:3px;
  }
/* ----------------- call/put トグルボタン ---------------- */
.CallPutInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.CallPutLabel {
  width: 30px;
  height: 21px;
  background: darkviolet;
  position: relative;
  display: inline-block;
  transition: 0.4s;
  box-sizing: border-box;
}
.CallPutLabel:after {
  content: "Call";
  position: absolute;
  font-size: 12px;
  left: 5px;
  top: 2px;
  z-index: 2;
  color: #fff;
  transition: 0.4s;
}
.CallPutInput:checked + .CallPutLabel {
  background-color: darkred;
}
.CallPutInput:checked + .CallPutLabel:after {
  content: "Put";
}
.CallPutButton {
  position: relative;
  width: 25px;
  height: 15px;
  top:-3px;
  left:-1px;
  margin: auto;
}
/* ----------------- mini/μ トグルボタン ---------------- */
.MiniMicroInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.MiniMicroLabel {
  width: 30px;
  height: 21px;
  background: darkviolet;
  position: relative;
  display: inline-block;
  transition: 0.4s;
  box-sizing: border-box;
}
.MiniMicroLabel:after {
  content: "μ";
  position: absolute;
  font-size: 12px;
  left: 5px;
  top: 2px;
  z-index: 2;
  color: #fff;
  transition: 0.4s;
}
.MiniMicroInput:checked + .MiniMicroLabel {
  background-color: darkred;
}
.MiniMicroInput:checked + .MiniMicroLabel:after {
  content: "Mini";
}
.MiniMicroButton {
  position: relative;
  width: 25px;
  height: 15px;
  top:-3px;
  left:-1px;
  margin: auto;
}
/*--------------------------------------------------------*/
.i5dg {
  width: 52px;
  margin-left:4px;
}
.i4dg {
  width: 45px;
  margin-left:5px;
}
.i2dg {
  width: 30px;
}
.ttitle {
  font-size: 11px;
  left: 20px
}
#linechart_material {
  width: 640px;
  height: 400px;
  background: #f1f8e9;
}